@tailwind base;
.inset-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hover-trigger .hover-target {
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.hover-trigger:hover .hover-target {
    opacity: 100%;
    transition: all 0.3s ease-in-out;
}

.hover-trigger .hover-img {
    filter: brightness(100%);
    transition: all 0.2s ease-in-out;
}

.hover-trigger:hover .hover-img {
    filter: brightness(30%);
    transition: all 0.2s ease-in-out;
}

@tailwind components;
@tailwind utilities;